[submodule "lib/discovery"]
	path = lib/discovery
	url = git@github.com:rranshous/discovery.git
[submodule "lib/blobby"]
	path = lib/blobby
	url = git@github.com:rranshous/blobby.git
[submodule "lib/imgcompare"]
	path = lib/imgcompare
	url = git@github.com:rranshous/imgcompare.git
[submodule "lib/revent"]
	path = lib/revent
	url = git@github.com:altalang/Revent.git
